$mb-1-5: 1.5rem;
$mb-2-5: 2.5rem;


@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;

  &:nth-child(2) {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }

  &:nth-child(3) {
    animation-duration: 5s;
  }
}

.content {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  padding: $mb-2-5;
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;


  white-space: pre-line;

  &-input {
    color: #333;
    width: 100%;
    background: none;
    height: 40px;


    border-bottom: 2px solid rgba($color: #2f2f2f, $alpha: .25);

    &:focus {
      border-bottom: 1px solid rgba($color: #2f2f2f, $alpha: .25);
    }
  }


  .input {
    position: relative;
    margin-bottom: $mb-1-5;
  }

  span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    top: 40px;
    left: 25%;
    transform: translateY(-50%);
    background: linear-gradient(120deg, #6c3, #09f);
    transition: .5s;
  }

  input:focus+span::after,
  input:not(:placeholder-shown)+span::after // input에 데이터가 있을 경우임. input:placeholder-shown은 placeholder가 있으면 선택해주는 접근제한자이다.

    {
    // width: 100%;
    width: 50%;
    transform: scaleX(2);
  }


}

@media screen and (max-width: 768px) {
  .content {
    min-width: auto;
    width: 200px;
    text-align: start;

    margin: {
      left: 1rem;
      right: 1rem;
    }
  }
}